<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title> Opening and Closing Times </title>
</head>
<body>
	<h1> Brevet </h1>
	<br>
	{% for time in times %}
	<p> Location = {{time.location}} </p>
	<p> Checkpoint: {{time.km}} </p>
	<p> open time: {{time.open}} </p>
	<p> close time: {{time.close}} </p>
	{% endfor %}
	</br>
</body>
</html>
